@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding: 88px 0 120px;
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 11px;
  position: relative;
  font-family: "Lato", sans-serif;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}

@media (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header-logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header-logo {
    width: 182px;
  }
}

.header-logo img {
  display: block;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav li:not(:first-child) {
  margin-left: 40px;
}

.header-nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  line-height: 100px;
}

.header-nav li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-nav li a:hover::after, .header-nav li a.is-active::after {
  background: #E81919;
}

.main-visual {
  height: 600px;
  width: 100%;
  background: url(../img/mainvisual.png) no-repeat center center/cover;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual-content {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .main-visual-content {
    padding-right: 46px;
    padding-left: 46px;
  }
}

@media (max-width: 767px) {
  .main-visual-content {
    padding-right: 46px;
    padding-left: 46px;
  }
}

.main-visual-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 13px;
}

@media (max-width: 767px) {
  .main-visual-title {
    font-size: 32px;
  }
}

.main-visual-lead {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .main-visual-lead {
    font-size: 18px;
    margin-top: 18px;
  }
}

.main-visual-button {
  margin-top: 28px;
}

@media (max-width: 767px) {
  .main-visual-button {
    margin-top: 28px;
  }
}

.main-visual-button a {
  display: inline-block;
  width: 384px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .main-visual-button a {
    width: 280px;
    height: 60px;
    font-size: 24px;
  }
}

.main-visual-button a:hover {
  opacity: 0.7;
}

.card {
  background: #EFEFEF;
}

.card-items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .card-items {
    margin-top: 42px;
  }
}

.card-item {
  width: calc(33.3% - 24px * 2/ 3);
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .card-item:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  .card-item:nth-child(n+4) {
    margin-top: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card-item {
    width: calc(50% - 24px * 1/ 2);
  }
  .card-item:not(:nth-child(2n+1)) {
    margin-left: 24px;
  }
  .card-item:nth-child(n+3) {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .card-item {
    width: 100%;
    margin-left: 0;
  }
  .card-item:nth-child(n+2) {
    margin-top: 24px;
  }
}

.card-img {
  text-align: center;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  color: #6F7579;
  margin-top: 4px;
}

.card-text {
  color: #6F7579;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 5px;
}

.news-items {
  margin: 60px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .news-items {
    margin-top: 40px;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 12px;
}

.news-item:not(:first-child) {
  border-top: 1px solid #707070;
}

@media (max-width: 767px) {
  .news-item {
    display: block;
  }
}

.news-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news-date {
  width: 105px;
  padding-top: 3px;
  font-family: "Lato", sans-serif;
}

.news-label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666666;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-label a.is-blue {
  background: #3F51B5;
}

.news-label a.is-red {
  background: #E81919;
}

.news-label a:hover {
  opacity: 0.7;
}

.news-title {
  width: calc(100% - 185px);
  padding-left: 20px;
}

.news-title a {
  text-decoration: none;
  line-height: 1.25;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-title a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .news-title {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 6px;
  }
}

.news-more {
  margin-top: 40px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .news-more {
    margin-top: 30px;
  }
}

.news-more a {
  text-decoration: none;
  color: #E81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-more a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 11px;
  width: 7px;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
}

.news-more a:hover {
  opacity: 0.7;
}

.price {
  background: #EFEFEF;
}

.price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

@media (max-width: 767px) {
  .price-content {
    display: block;
    margin-top: 40px;
  }
}

.price-image {
  width: 37.83333%;
}

@media (max-width: 767px) {
  .price-image {
    width: 100%;
  }
}

.price-table {
  width: 59%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .price-table {
    width: 100%;
    margin-top: 14px;
  }
}

.price-attention {
  font-size: 14px;
  margin-top: 6px;
}

.price-attention a {
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.price-attention a:hover {
  opacity: 0.7;
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #FFFFFF;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}

.table th {
  background: #999999;
  color: #FFFFFF;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.table th:nth-child(1) {
  width: 172px;
}

@media (max-width: 767px) {
  .table th:nth-child(1) {
    width: 112px;
  }
}

.table td {
  text-align: right;
}

.table strong {
  color: #E81919;
  line-height: 1.2;
}

.table span {
  font-size: 13px;
  display: block;
  margin-top: 1px;
  line-height: 1.2;
}

.access-map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .access-map {
    margin-top: 40px;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access-info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access-info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access-info-row:not(:first-child) {
  margin-top: 8px;
}

.access-info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}

.access-info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}

.access-button {
  text-align: center;
  margin-top: 15px;
}

.access-button a {
  text-decoration: none;
  display: inline-block;
  width: 304px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  background: #3F51B5;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.access-button a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 16px;
  width: 17px;
  background: url(../img/button-arrow.png) no-repeat center center/contain;
}

.access-button a:hover {
  opacity: 0.7;
}

.contact {
  background: #EFEFEF;
}

.contact_from {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}

@media (max-width: 767px) {
  .contact_from {
    margin-top: 40px;
    padding: 24px;
  }
}

.contact-from-dl {
  margin: 0;
}

.contact-from-row {
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact-from-row {
    display: block;
  }
}

.contact-from-row:not(:first-child) {
  margin-top: 54px;
}

@media (max-width: 767px) {
  .contact-from-row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact-from-label {
  width: 160px;
  padding: 5px 0 0;
  margin: 0;
  display: inline-block;
}

@media (max-width: 767px) {
  .contact-from-label {
    width: 100%;
  }
}

.contact-from-label label {
  font-weight: 700;
}

.contact-from-label label.is-reqired {
  display: inline-block;
  position: relative;
}

.contact-from-label label.is-reqired::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #E81919;
  text-align: center;
  border-radius: 4px;
  height: 22px;
  width: 44px;
  line-height: 1;
  padding: 4px 8px;
}

@media (max-width: 767px) {
  .contact-from-label label.is-reqired::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}

.contact-from-input {
  width: calc(100% - 160px);
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .contact-from-input {
    width: 100%;
    margin: 0;
  }
}

.contact-from-input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #FFFFFF;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-from-input [type="email"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #70707070;
  padding: 10px 16px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-from-input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  padding: 12px 16px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #FFFFFF url(../img/select-arrow.png) no-repeat right 12px center/17px 14px;
}

.contact-from-input textarea {
  height: 240px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #FFFFFF;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}

@media (max-width: 767px) {
  .contact-from-radio {
    margin-top: 20px;
  }
}

.contact-from-radio [type="radio"] {
  display: none;
}

.contact-from-radio span {
  display: inline-block;
  padding-left: 28px;
  position: relative;
  margin-right: 36px;
}

@media (max-width: 767px) {
  .contact-from-radio span {
    margin-bottom: 8px;
    margin-right: 20px;
  }
}

.contact-from-radio span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}

.contact-from-radio span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #3F51B5;
  border-radius: 50%;
  display: none;
}

.contact-from-radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-from-check {
  margin-top: 58px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact-from-check {
    margin-top: 40px;
  }
}

.contact-from-check [type="checkbox"] {
  display: none;
}

.contact-from-check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}

.contact-from-check span::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #707070;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
}

.contact-from-check span::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../img/checkbox.png) no-repeat center center/contain;
  display: none;
}

.contact-from-check [type="checkbox"]:checked + span::after {
  display: block;
}

.contact-from-check a {
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-from-check a:hover {
  opacity: 0.7;
}

.contact-from-button {
  margin-top: 30px;
  text-align: center;
}

.contact-from-button [type="submit"] {
  background: #3F51B5 url(../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  width: 304px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  padding: 14px 20px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-from-button [type="submit"]:hover {
  opacity: 0.7;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 48px 0 24px;
  color: #fff;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 12px;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer-content {
    display: block;
  }
}

.footer-left {
  width: 35%;
  padding: 12px 0 0;
}

@media (max-width: 767px) {
  .footer-left {
    width: 100%;
  }
}

.footer-logo a {
  text-decoration: none;
}

.footer-logo img {
  width: 205px;
}

.footer-address,
.footer-tel {
  font-size: 14px;
}

.footer-address {
  margin-top: 22px;
}

@media (max-width: 767px) {
  .footer-address {
    margin-top: 13px;
  }
}

.footer-tel {
  margin-top: 5px;
}

@media (max-width: 767px) {
  .footer-tel {
    margin-top: 7px;
  }
}

.footer-center {
  width: 50%;
  padding: 8px 10px 0;
}

@media (max-width: 767px) {
  .footer-center {
    width: 100%;
    margin-top: 24px;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
}

.footer-nav li:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .footer-nav li:not(:first-child) {
    margin-left: 20px;
  }
}

.footer-nav li a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-nav li a:hover {
  opacity: 0.7;
}

.footer-right {
  width: 20%;
  padding: 12px 0;
}

@media (max-width: 767px) {
  .footer-right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .footer-sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-sns li:not(:first-child) {
  margin-left: 16px;
}

.footer-sns li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-sns li a:hover {
  opacity: 0.7;
}

.footer-sns li img {
  width: 30px;
}

.footer-copy {
  margin-top: 36px;
  font-size: 14px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .footer-copy {
    margin-top: 24px;
  }
}

.to-top {
  position: fixed;
  right: 25px;
  bottom: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .to-top {
    width: 40px;
    right: 12px;
    bottom: 12px;
  }
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
}

.to-top a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top a:hover {
  opacity: 0.7;
}

.to-top a img {
  width: 60px;
}

@media (max-width: 767px) {
  .to-top a img {
    width: 40px;
  }
}

.swiper-container {
  overflow: hidden;
  position: relative;
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../img/arrow-next.png) no-repeat center center/contain;
  right: calc(50% - 600px);
}

.swiper-button-next::after {
  display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 767px) {
  .swiper-button-next {
    right: 10px;
  }
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../img/arrow-prev.png) no-repeat center center/contain;
  left: calc(50% - 600px);
}

.swiper-button-prev::after {
  display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .swiper-button-prev {
    left: 10px;
  }
}

@media (max-width: 767px) {
  .swiper-button-prev {
    left: 10px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 8px;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 80px;
  }
}

@media (min-width: 1200px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 80px;
  }
}

.swiper-pagination-bullet-active {
  background: #2F7DC8;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-icon-bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon-bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon-bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon-bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-icon-bar1 {
  top: 0;
}

.drawer-icon-bar2 {
  top: 8px;
}

.drawer-icon-bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content-item {
  border-bottom: 1px dotted #707070;
}

.drawer-content-item a {
  display: block;
  color: #707070;
  text-decoration: none;
  padding: 18px 20px;
  position: relative;
}

.drawer-content-item a::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 21px;
  top: 50%;
  width: 5px;
  height: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../img/arrow-b.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.qa-items {
  width: 900px;
  max-width: 100%;
  margin: 80px auto 0;
}

.qa-item:nth-child(n + 2) {
  margin-top: 24px;
}

.qa-box {
  border: 1px solid #3F51B5;
}

.qa-box-q {
  color: #fff;
  background-color: #3F51B5;
  padding: 12px 56px;
  font-weight: 700;
  position: relative;
}

.qa-box-q::before {
  content: "Q";
  position: absolute;
  top: 12px;
  left: 20px;
}

.qa-box-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-box-icon.is-open .qa-box-bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa-box-bar1 {
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.qa-box-bar2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-box-a {
  background: #fff;
  font-weight: 700;
  color: #3F51B5;
  line-height: 1.5;
  padding: 16px 30px 16px 20px;
  display: none;
}

.qa-box-content {
  position: relative;
  padding-left: 35px;
}

.qa-box-content::before {
  content: "A";
  position: absolute;
  top: 0;
  left: 0;
}

.qa-y-items {
  margin: 60px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 920px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .qa-y-items {
    display: block;
  }
}

.qa-y-item {
  margin-bottom: 28px;
  margin-right: 40px;
  width: calc(50% - 40px  / 2);
}

.qa-y-item:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .qa-y-item {
    width: 100%;
    margin-bottom: 24px;
  }
  .qa-y-item:last-child {
    margin-bottom: 0;
  }
}

.accordion-y-head {
  margin: 0;
  background: #fff;
  color: #3F51B5;
  padding: 20px 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  border: 1px solid #3F51B5;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.accordion-y-head:hover {
  background: aqua;
  color: #fff;
}

.accordion-y-body {
  display: none;
}

.accordion-y-body-in {
  padding: 40px 0;
  line-height: 1.5;
  color: #3F51B5;
}

.accordion-y-icon {
  background: transparent url(../img/arrow-bottom.png) no-repeat center center/contain;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion-y-icon.is-open {
  background-image: url(../img/icon-arrow-top.png);
}

.modal-contact {
  position: fixed;
  z-index: 501;
  width: 900px;
  max-width: calc(100% - 24px * 2);
  height: 652px;
  max-height: calc(100% - 24px * 2);
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px;
  color: #707070;
  display: none;
}

@media (max-width: 767px) {
  .modal-contact {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.modal-contact-head {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding-bottom: 24px;
  text-align: center;
}

.modal-contact-head::after {
  content: "";
  width: 100px;
  height: 2px;
  background: #3F51B5;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-contact-content {
  margin-top: 40px;
  height: calc(100% -  88px - 108px);
  overflow: auto;
}

.modal-contact-content > :first-child {
  margin-top: 0;
}

.modal-contact-sub-head {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
  margin-top: 40px;
}

.modal-contact-sub-head::before {
  content: "";
  width: 4px;
  height: 20px;
  background: #3F51B5;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-contact-text {
  margin-top: 16px;
  line-height: 1.5;
  padding-left: 20px;
}

.modal-contact-button {
  margin-top: 60px;
  text-align: center;
}

.modal-contact-button a {
  text-decoration: none;
  display: inline-block;
  width: 176px;
  padding: 14px;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  font-weight: 700;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.modal-contact-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
}

.modal-contact-icon a {
  text-decoration: none;
}

.modal-contact-icon img {
  width: 40px;
}

.modal-contact-background {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
}
